
snippet vl "vielleicht" wA
vielleicht
endsnippet

snippet wsl "wahrscheinlich" wA
wahrscheinlich
endsnippet

snippet imo "in my opinion" wA
in my opinion
endsnippet

snippet cont "continuous" wA
continuous
endsnippet

snippet wrt "with respect to" wA
with respect to
endsnippet
