
snippet sghp "Dear" bA
Sehr geehrter Herr Professor ${0},
endsnippet

snippet sgfp "Dear" bA
Sehr geehrte Frau Professor ${0},
endsnippet

snippet bg "Beste Gruesse" bA
Beste Grüße,
Axel Böhm
endsnippet

snippet lg "liebe gruesse" b
Liebe Grüße,
Axel
endsnippet

snippet br "best regards" bA
Best regards,
Axel Boehm
endsnippet

snippet ba "best axel" b
Best,
Axel
endsnippet

snippet dp "dear professor" b
Dear Professor ${0},
endsnippet

