
snippet sghp "Dear" b
Sehr geehrter Herr Professor ${0},
endsnippet

snippet sgfp "Dear" b
Sehr geehrte Frau Professor ${0},
endsnippet

snippet bg "Beste Gruesse" b
Beste Grüße,
Axel Böhm
endsnippet

snippet lg "liebe gruesse" b
Liebe Grüße,
Axel
endsnippet

snippet br "best regards" b
Best regards,
Axel Boehm
endsnippet

snippet ba "best axel" b
Best,
Axel
endsnippet

snippet dp "dear professor" b
Dear Professor ${0},
endsnippet

